.about
    background-color $grey2
    text-align: center
    align-items: center
    margin-top 104px
    &__text
        padding 120px 100px 107px 100px
        font-size: $fontsSize
        line-height $lineHeight

        &__des1
            margin: 0
            padding 0 147px
        &__des2
            margin: 30px 0
            padding 0 170px
        &__des3
            margin: 0
            padding 0 191px