@import 'global/variables.styl'
@import 'global/base.styl'
@import 'bibl/header.styl'
@import 'bibl/hero.styl'
@import 'bibl/about.styl'
@import 'bibl/skills.styl'
@import 'bibl/portfolio.styl'
@import 'bibl/contacts.styl'




