// color
    $grey1 = #828282
    $black = #070707
    $white = #ffffff
    $grey2 = #F6F6F6





    // linkcolor
    // $linkcolor
    $LinkColorHover = red







    // font
    $fontFamily = "Roboto", Arial, sans-serif
    $fontsSize = 18px
    $lineHeight = 21/18



    // width container
    $containerwidth = 923px
